@charset "UTF-8";
body{
	background:#373737;
	font: 11px/1.3em Helvetica, Arial, sans-serif;
	color:#E1E1E1;
	min-width:1000px;
	padding:45px 0 25px;
}
/* Main Menu */
.mainMenu,footer{position:fixed;left:0;right:0;}
.mainMenu{background:#535353;padding-bottom:15px;border-bottom:solid 1px #282828;top:0;}
/* Tabs */
.tabs{border:solid 1px #282828;height:25px;font-weight:bold;box-shadow:inset 0 1px 0 #4A4A4A,0 1px 0 #6A6A6A;}
.tabs,.tabs li{background: -moz-linear-gradient(top,  #3c3c3c 0%, #373737 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c3c3c), color-stop(100%,#373737));background: -webkit-linear-gradient(top,  #3c3c3c 0%,#373737 100%);background: linear-gradient(to bottom,  #3c3c3c 0%,#373737 100%);}
.tabs li{position:relative;display:block;float:left;border-right:solid 1px #282828;line-height: 25px;padding:0 20px;cursor: pointer;color:#959595;text-shadow:0 1px 0 #222;box-shadow: inset 0 1px 0 #4A4A4A;}
.tabs li:hover{background:#444;}
.tabs li.current{padding-bottom:1px;background:#535353;cursor: default;color:#E1E1E1;box-shadow: inset 0 1px 0  #6A6A6A, 0 1px 0  #535353;}
.tabsContent > li{display:none;}
.tabsContent > li.current{display:block;}
/* Panel */
.panel{
	position:fixed;
	overflow:auto;
	background: #535353;
	border:solid 1px #282828;
	top:44px;
	right:0;
	bottom:22px;
	width:300px;
	box-shadow: 0 1px 0 #6A6A6A inset;
}
.leftColumn{
	margin-right:300px;
}
/* */
#backStyler{
	background:#FFF;border:solid 1px #282828;margin:30px 8%;padding:25px;color:#333;font-size: 14px;min-height: 500px;
}

/**/
.styleTabs{
	position:absolute;
	width:40px;height:auto;
	top:0;
	bottom:0;
	left:0;
	border:none;
	border-left:solid 1px #282828;
	border-right:solid 1px #282828;
}
.styleTabs li{
	border-bottom:solid 1px #282828;
	border-right:none;
	padding:0;
	text-align: center;
	line-height: 40px;
	height:40px;
	width:40px;
}	
.styleTabs li.current{
	padding-bottom:0;
	padding-right:1px;
	box-shadow: 0 1px 0 #6A6A6A inset;
}
#styleTabsContent{
	padding-left:42px;
}
/* */
#stylerElement{margin:30px auto;display:block;}










/* FOOTER ******************************************/
footer{
	line-height:20px;
	height:20px;
	text-align:center;
	color:#999;
	box-shadow:inset 0 1px 0 #6A6A6A;
	border-top:solid 1px #282828;
	background:#535353;
	bottom:0;
}

